 /* first mobil */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Lato", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 :root {
     --color-principal: rgb(61, 61, 61);
     --color-secundario: rgb(241, 210, 143);
     --acento: rgb(246, 152, 53);
     --transparencia: rgba(61, 61, 61, 0.9);
     --grises: rgb(82, 81, 81);

 }

 /*Maquetacion general con grid*/
 .contenedor {
     display: grid;
     grid-template-rows: repeat(4, auto);
     grid-template-columns: 1fr;
     grid-template-areas: "header" "nav" "main" "footer";
 }

 header {
     grid-area: header;
 }

 nav {
     grid-area: nav;
 }

 main {
     grid-area: main;
 }

 footer {
     grid-area: footer;
 }

 button {
    cursor: pointer;
 }
 
 h1.titulo {
     text-align: center;
     margin-bottom: 10px;
     margin-top: 80px;
     font-size: 2em;
     color: var(--color-principal);
     padding: 15px;
 }

 .texto {
     font-size: 1em;
     margin: 10px 0;

 }

 main {
     width: 95%;
     margin: auto;
     padding: 10px;
 }

img.inicial {
    width: 100%;
    max-width: 800px;

    display: block;
    margin: 15px auto;
}

.mensajes {
    position: fixed;
    top: 150px;
    right: 10px;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 95%;
    max-width: 380px;
    z-index: 3000;
}


 @media screen and (min-width: 768px) {
     /* breakpoint para tablet */




 }

 @media screen and (min-width: 1024px) {
     /* breakpoint para pc */


     main {
         max-width: 1000px;
     }

     body {
        margin-bottom: 110px;
     }
 }